body{
margin:0;
padding:0;
background:linear-gradient(135deg,#ff6a6a,#6a8dff);
}

.wrapper{
width:100%;
}

.card{
width:100%;
max-width:100%;
padding:20px;
border-radius:0;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(15px);
}

/* UI */
input, button{
width:100%;
padding:14px;
margin-top:10px;
border-radius:10px;
border:none;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:10px;
}

.box{
background:rgba(255,255,255,0.2);
padding:12px;
border-radius:10px;
text-align:center;
}

.progress-container{
margin-top:10px;
height:6px;
background:#ccc;
border-radius:10px;
overflow:hidden;
}

.progress-bar{
height:100%;
background:#00c6ff;
width:0%;
}
