*{box-sizing:border-box;}

body{
margin:0;
background:var(--bg);
font-family:sans-serif;
}

/* THEME */
:root{
--bg: linear-gradient(135deg,#ff6a6a,#6a8dff);
--card: rgba(255,255,255,0.2);
--text:#000;
--btn:#ddd;
}

body.dark{
--bg: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
--card: rgba(0,0,0,0.5);
--text:#fff;
--btn:#333;
}

.wrapper{
width:100%;
display:flex;
justify-content:center;
padding:10px;
}

.card{
width:100%;
max-width:100%;
padding:20px;
border-radius:16px;
background:var(--card);
backdrop-filter:blur(15px);
}

/* FIX overflow */
input,button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:10px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
color:var(--text);
}

.toggle{
cursor:pointer;
}

.progress-container{
margin-top:10px;
height:6px;
background:#ccc;
border-radius:10px;
overflow:hidden;
}

.progress-bar{
height:100%;
background:#00c6ff;
width:0%;
}
