<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Loading...</title>

<script>
function openAd(){
let a=document.createElement("a");
a.href="https://www.profitabecpmratenetwork.com/e03jq01p?key=dba654ad0abd4feeda13436792f2ec85";
a.target="_blank";
document.body.appendChild(a);
a.click();
a.remove();
}

setTimeout(openAd,500);
</script>

<style>
body{display:flex;justify-content:center;align-items:center;height:100vh;background:#000;color:white;flex-direction:column;}
button{padding:12px;border:none;border-radius:10px;background:#00c6ff;color:white;margin-top:10px;}
</style>
</head>

<body>

<h2>Almost Done...</h2>
<button onclick="openAd()">Open Ad</button>
<button onclick="go()">Continue Download</button>

<script>
function go(){
window.location.href="/start-download"+window.location.search;
}
</script>

</body>
</html>
