<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Prepare</title>
<style>
body{display:flex;justify-content:center;align-items:center;height:100vh;background:#111;color:white;flex-direction:column;}
button{padding:12px;border:none;border-radius:10px;background:#00c6ff;color:white;}
</style>
</head>

<body>

<h2>Download Ready</h2>
<button onclick="go()">Continue</button>

<script>
function go(){
let params = window.location.search;
window.location.href = "/adpage" + params;
}
</script>

</body>
</html>
